<ul class="clearfix">
  <% list(wines, function(wine){ %>
    <li class="wine span8" <%= (el)-> el.data('wine', wine) %>>
      <%== can.view.render('views/wineView.ejs', {
        wine: wine
      }) %>
    </li>
  <% }) %>
</ul>
